*
{
    padding: 0;
    margin: 0px;
    overflow: auto;

}

h1
{
    padding-left: 10px;
}

#wrapper
{
    padding: 5px;
}

#header
{
    margin: 5px;
    line-height: 50px;
    border-bottom: black solid 5px;
    border-top: black solid 5px; 
    vertical-align: middle;
    text-align: center;
}

#content
{
    width: 100%;
    text-align: center;
    
}

#footer
{
	margin-top: 20px;
    padding-top: 20px;
    border-top: 4px solid black;
    text-align: center;
    font-size: 18px;
    clear: both;
    color: black;
}

button {
    background-color: turquoise;
    font-size: medium;
    font-weight: bold;
	padding: 15px;
	margin: 30px;
    border-radius: 10px;
	cursor: pointer;
	opacity: 0.8;
    display: inline;
    width: 150px;
}

button:hover
{
	opacity: 1;
}

li
{
    margin: 5px;
    font-size: 20px;
}

img
{
    width: 100px;
    height: 100px;
    display: inline;
}

input{
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

select {
    width: 10%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

label{
    text-align: left;
    font-weight: bold;
    font-size: 18px;
}


